* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

main {
    display: grid;
    grid-template-columns: 1fr 1.6fr;
    width: 100vw;
    height: 100vh;
}

#input-column {
    display: flex;
    flex-direction: column;
    background: #558C8C;
}

#title {
    margin: 16px;
}

ticker-search {
    margin: 16px;
}

view-select {
    margin: 16px;
}

#view-column {
    display: flex;
    flex-direction: column;
    background: #E8DB7D;
}